.carrito{
    display:flex;
    justify-content: space-evenly;
    width:85%;
    flex-direction:column;
    align-items:center;
    margin:50px auto
}
@media (max-width: 480px) {
    .carrito{
        /* display:flex; */
        /* flex-direction:column; */
        width:100%
    }
}
.comprar{
    height:8rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly
}
