.greeting{
    /* width:fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color:lightgrey; */
    margin: 2rem;
}
.tit{
    text-align:center;
}