#navBar{
    display: flex;
    flex-direction:row;
    width: 96%;
    color: #fff
}
#carrito{
    background-color: none;
    margin-right: 1rem;
    margin-top: 1rem;
    justify-content: center;
}