#navBar{
    display: flex;
    flex-direction:row;
    justify-content:center;
    width: auto;
    color: #fff;
    background-color: #fff;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
#carrito{
    background-color: none;
    margin-right: 1rem;
    margin-top: 1rem;
    justify-content: center;
}